:root {
  --special-color: rgb(219, 204, 203);
  --primary-color: white;
  --secondary-color: rgb(193, 196, 205);
  --shadow: 0px 5px 10px 1px rgb(219, 204, 203);
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}

.project-description p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.project-description {
  padding: 120px 60px;
}
.about-section {
  padding: 60px 20px;
  text-align: center;
}

.hero {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 80px 20px;
  background: var(--special-color);
  margin-bottom: 30px;
}
.hero h1 {
  font-size: 65px;
}
.hero h2 {
  font-weight: bold;
}
.about-link {
  border: 1px solid white;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  box-shadow: var(--shadow);
  text-decoration: none;
  line-height: 27px;
  text-align: center;
}
.work-link {
  border: 1px solid white;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  box-shadow: var(--shadow);
  text-decoration: none;
  text-align: center;
}
.info-link {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  margin: 10px auto;
  text-decoration: none;
  box-shadow: var(--shadow);
}
#contact {
  text-align: center;
  background: var(--secondary-color);
}
.logo {
  max-height: 50px;
}
.navbar {
  background: grey;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px 0;
  align-items: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #000000;
}
nav a:hover {
  color: chartreuse;
  transition: all 100ms ease-in-out;
}
nav h2 {
  font-size: 30px;
}
.active {
  color: chartreuse;
}
footer {
  background-color: var(--special-color);
}
footer .social-links a {
  color: chocolate;
  font-size: 18px;
  margin: 0 15px;
  padding: 10px 14px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: chartreuse;
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  .project-description {
    text-align: center;
  }
  h1 {
    font-size: 42px;
    line-height: 1.5;
  }

  h2 {
    font-size: 42px;
  }
  h4 {
    font-size: 35px;
  }

  .hero {
    padding: 70px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .logo {
    font-size: 20px;
  }
}
