:root {
  --special-color: rgb(219, 204, 203);
  --primary-color: white;
  --secondary-color: rgb(193, 196, 205);
  --shadow: 0px 5px 10px 1px rgb(219, 204, 203);
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
.project-description p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.project-description {
  padding: 120px 60px;
}
.about-section {
  padding: 120px 60px;
}

.hero {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 80px 20px;
  background: var(--special-color);
  margin-bottom: 30px;
}
.hero h1 {
  font-size: 65px;
}
.hero h2 {
  font-weight: bold;
}
.about-link {
  border: 1px solid white;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  box-shadow: var(--shadow);
  text-decoration: none;
  line-height: 27px;
  text-align: center;
}
.gallery-link {
  border: 1px solid white;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  box-shadow: var(--shadow);
  text-decoration: none;
  text-align: center;
}
.info-link {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px;
  margin: 10px auto;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
@media (max-width: 900px) {
  .project-description {
    text-align: center;
  }
  h1 {
    font-size: 42px;
    line-height: 1.5;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 70px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
